body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino,STSong,SimSun,serif;
}
nav:lang(en) { font-style: italic!important; }
code {
  font-family: 'Operator Mono', Monaco, monospace;
  font-size: 85%;
}
h1, h2, h3 {
  font-family: "Lucida Sans Unicode", "Lucida Grande",STHei, sans-serif;
}
b {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino,STHeiti, sans-serif;
}
i {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino,STKaiti, KaiTi,serif;
}