@font-face { 
  font-family: "cn";
	font-weight:normal;
  src: url("fonts/CN.TTF"); 
}
@font-face { 
  font-family: "cn";
	font-weight:bold;
  src: url("fonts/CNB.otf"); 
}
@font-face { 
  font-family: "cn";
  src: url("fonts/CNI.TTF"); 
	font-style:italic;
}
body {
  font-family: 'Palatino','Times New Roman','cn', Arial, serif;
}
nav:lang(en) { font-style: italic!important; }
code {
  font-family: 'Operator Mono', Monaco, monospace,"Noto Sans SC";
  font-size: 85%;
}
h1, h2, h3 {
  font-family: 'en','cn', Book Antiqua, serif;
}
