body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino,STSong, Arial, serif;
}
nav:lang(en) { font-style: italic!important; }
code {
  font-family: 'Operator Mono', Monaco, monospace,"Noto Sans SC";
  font-size: 85%;
}
h1, h2, h3 {
  font-family: "Lucida Sans Unicode", "Lucida Grande",STHei, sans-serif;
}
