@font-face{
	font-family: 'cn';
	src:  url('fonts/CN.TTF');
}
@font-face{
	font-family: 'cnb';
	font-weight:bold;
	src:  url('fonts/CNB.ttf');
}
@font-face{
	font-family: 'CNI';
	font-style:italic;
	src:  url('fonts/CNI.TTF');
}
body {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, 'cn',serif;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nav:lang(en) { font-style: italic!important; }
code {
  font-family: 'Operator Mono', Monaco, monospace;
  font-size: 85%;
}
h1, h2, h3 {
  font-family: "Lucida Sans Unicode", "Lucida Grande",'cnb', sans-serif;
}
strong,b {
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia,'cnb',sans-serif;
	color:rgb(27, 27, 27);
}
em {
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia,'CNI',sans-serif;
	color:rgb(55, 55, 55);
}