/* overall layout */
* { box-sizing: border-box; }
body {
  margin: 0 auto 0;
	font-size:16px;
  line-height: 1.5em;
  overflow-x: hidden;
}
.katex { font-size: 1em!important;}
.katex-display > .katex {
	max-width: 100%;
	
}
.katex-display {
	/* line-height: 1.2em; */
	height: 120%;
}
.katex-display > .katex > .katex-html {
	max-width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

html.han-la hanla:after {
	content: " ";
	display: inline;
	font-family: Arial;
	font-size: 0.89em;
}

html.han-la code hanla,
html.han-la pre hanla,
html.han-la kbd hanla,
html.han-la samp hanla {
	display: none;
}

html.han-la ol > hanla,
html.han-la ul > hanla {
	display: none;
}
body, .side, .menu { background: #ffffff; }
main, .menu ul, .footer, .single section, .post-nav {
  max-width: 800px;
	/* position:relative;
	right:100px; */
  margin: 0 auto 0;
}
main {
  display: block;
  hyphens: auto;
}
html hanla:after {
	content: " ";
	display: inline;
	font-family: Arial;
	font-size: 0.89em;
}
p{
	text-indent: 2em;
	font-weight:400;
	line-height: 1.7em;
	font-size: 1em;
  color:rgb(37, 37, 37);
}

html code hanla,
html pre hanla,
html kbd hanla,
html samp hanla {
display: none;
}

html ol > hanla,
html ul > hanla {
display: none;
}
.list main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.list main > * {
  flex: 1 0 100%; 
}
.list main > .post-card {
  flex: 0 0 calc(50% - .5em);
}
.menu, .container { padding: 0 1em 0; }
.article, .appendix {
  position: relative;
}
.article-list, .single main, .single .appendix, .fullwidth, .embed-left, .embed-right {
  margin-top: 2em;
  padding: 1em;
  /* box-shadow: 0 0 8px #ccc; */
  background: #fff;
}
.article-list,.appendix,.fullwidth{
	box-shadow: 0 0 8px #ccc;
}
.post-card { margin-top: 1em; }

/* header and footer areas */
.menu { box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.1); }
.sticky-top {
  position: sticky;
  top: 0;
  z-index: 2;
}
.menu li, .terms li, .footer li { display: inline-block; }
.article-meta { background: #ffffff; }
footer { background: darkslategray; }
.menu ul {
  padding: 1em 0 1em;
  display: flex;
}
.date{
	padding-top: 1em;
	
	padding-bottom: 1em;
	font-weight: normal;
	/* font-style: italic; */
	text-align: center;
}
h3.date{
	font-family: 'Libre Barcode 39 Extended Text', cursive,Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia,serif;
	text-align: right;
	font-size:3em;
	padding-bottom: 0em;
}
.article-meta, .menu a, .footer a, .terms a, .bg-number {
  text-decoration: none;
  padding: 5px;
	font-size:1em;
  border-radius: 5px;
}
.terms{
	text-align:center;
}
.menu a, .footer a { margin: 1px; }
.menu a, .pagination a, .article-meta a { color: darkslategray; }
.menu a:hover, .menu .active, .footer a:hover, .terms a:hover, .bg-number {
  background: lightslategray;
  color: #fff;
}

.menu, .article-meta, .post-nav { text-align: center; }
.menu ul, .terms, .footer ul { padding-left: 0; }
.menu .left {
  flex-grow: 1;
  font-weight: 600;
  text-align: left;
}
a{
	color:black;
}
#TOC a{
	text-decoration: none;
}
.title {
  font-size: 1.2em;
	/* letter-spacing:0.1em; */
  line-height: 1em;
}
.article-meta .terms, .appendix, .footnotes, main .side > *, figcaption, .caption { font-size: .9em; text-indent: 0em;}
.terms a {
  border: 1px solid lightslategray;
  line-height: 2em;

}
.article-meta{
	padding-top:1.5em;
	padding-bottom:2.3em;
}
.terms a, .bg-number {
  padding: 1px 5px;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.footer a { text-decoration: none; }
footer { margin-top: 2em; }

hr {
  border-style: dashed;
  color: #ddd;
  width: 50%;
}
.footnotes hr { margin-left: 0; }

#TOC { top: 0; }
#TOC ul { list-style-position: inside; }
#TOC > ul {
  padding: 0;
  margin: 0;
}
#TOC li > ul { padding-left: 1em; }
#TOC .numbered { list-style: none; }

.appendix div:not(:last-child):not(.side) {
  border-bottom: 1px dashed lightslategray;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

/* code */
pre {
  /* border:Z 1px solid #ddd; */
  overflow-x: auto;
}
pre code { background: none; }
pre code:not(.hljs), pre .hljs {
  display: block;
  padding: 1em;
}
.appendix pre code { white-space: pre-wrap; }
.side p,blockquote p{
	text-indent: 0em;
}
blockquote p{
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, "Liberation Serif", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, DFKai-SB, "TW\-Kai", serif;
}
/* left/right elements*/
.side {
  width: 200px;
  margin: 0 auto;
}
.side > :first-child { margin-top: 0; }
.side > :last-child { margin-bottom: 0; }
.side-left {
  float: left;
  clear: left;
  margin-left: calc(-200px - 2em);
  position: sticky;
}
.side-right p{
	font-size:0.75em;
	line-height:1.5em;
}
.side-right {
  float: right;
  clear: right;
  margin-right: calc(-200px - 2em);
}
h3.side-left { text-align: right; }
.quote-left, .quote-right { width: 45%; }
.embed-left, .embed-right {
  margin-top: auto;
  padding: 0;
}
.quote-left, .embed-left {
  float: left;
  margin-right: 1em;
}
.quote-right, .embed-right {
  float: right;
  margin-left: 1em;
}
.embed-left { margin-left: calc(-200px - 2em); }
.embed-right { margin-right: calc(-200px - 2em); }
.side-left, .embed-left, #TOC { position: sticky; }

.spacer { width: 1em; }
.spacer-left { border-left: 1px dashed; }
.spacer-right { border-right: 1px dashed; }

/* wide elements */
.fullwidth, .fullwidth * { margin: auto 0; }
.fullwidth * { max-width: calc(100vw - 4em); }
.fullscroll * { max-width: initial; }
.fullwidth {
  max-width: calc(100vw - 2em);
  margin: 1em 0 1em 50%;
  transform: translateX(-50%);
  float: left;
  min-width: 100%;
  background: white;
}
.fullscroll, .fullscroll figure, .fullscroll .figure { overflow-x: auto; }
.fullwidth figcaption, .fullwidth .caption {
  margin-left: calc(50% - 400px);
  width: 800px;
  padding: 1em 1em 0;
}
figcaption p{
	text-indent: 0em;
	line-height: 1.4em;
	text-align: center;
}
/* search */
.search .menu li, .search .container, .search footer, .search-results { display: none; }
.search #menu-search, .search .search-results {
  display: flex;
  width: 100%;
}
.search-input{
	outline:none;
}
.search #menu-search div:first-child { flex-grow: 1; }
.search input, .search #menu-search a {
  padding: .5em;
  font-size: 1.5em;
}
.search input {
  width: 100%;
  background: transparent;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia,"Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;;
  border: none;
  border-bottom: 2px solid lightslategray;
}
.search-results b {
  font-weight: normal;
  background: orange;
}

/* misc elements */
img, iframe, video { max-width: 100%; }
iframe, video {
  display: block;
  margin: auto;
}
.title, code, .article-list .side-title { hyphens: none; }
/* blockquote, code, .article tbody tr:nth-child(odd) { background: #f9f9f9; } */
blockquote {
  /* border-left: 5px solid #ccc; */
  padding: 1px 3px 1em 1em;
	box-shadow: 0 0 8px #ccc; 
  margin: auto;
}
blockquote p strong{
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, "Liberation Serif", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, DFKai-SB, "TW\-Kai", serif;
	font-weight: 400;
	text-decoration: underline;
}
.categories {
  text-transform: uppercase;
  font-size: 1em;
}
.single .appendix { background: none; }
.article-list a, .footer a {
  text-decoration: none;
  color: #000;
}
.article-list h1 a {
  width: 100%;
  display: inline-block;
}
.article-list h1 a:hover { color: #71a5d4; }
.article-list h1 {
	padding-bottom: 7px;
  border-bottom: 1px solid #ddd;
  margin: 5px 0px 10px;
}
.article-list .side-title { transform: rotate(90deg); }
.article-list:nth-child(even):not(.post-card) .side-title { transform: rotate(-90deg); }
.article-list table {
  margin: 0;
  border: none;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
.article-list td { padding: 0; }
.side-title { width: 3em; }
.side-title h1 { border: none; }
.post-card .side-title h1 a, .post-card .spacer-right, .appendix h3 { color: lightslategray; }
.appendix h3 { text-align: right; }
.summary { margin-top: .5em; }
.summary::first-letter {
  font-size: 3.5em;
  padding: .1em .2em .1em .1em;
  margin: 0 .1em 0 0;
  display: inline-block;
  float: left;
  line-height: 1em;
}
.pagination { text-align: center; }
.pagination li { display: inline; }
.pagination a { padding: 0 .2em; }
.active a { text-decoration: none; }
.post-nav { margin: 1em auto; }
.post-nav span {
  display: inline-block;
  width: 45%;
}
.nav-prev { text-align: right; }
.nav-next { text-align: left; }
.footer, .footer a { color: #fff; }
.more { font-style: italic; }
.hidden { display: none; }
.draft {
  background: repeating-linear-gradient( 135deg, white, white 10px, #ffd4a3 12px, #ffd4a3 12px );
}
.watermark {
  position: fixed;
  transform: rotate(-45deg);
  font-size: 12em;
  width: 100%;
  color: lightgray;
  opacity: 0.3;
  left: 0;
  text-align: center;
  top: 50%;
}
table {
  margin: 1em auto auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }

/* responsive */
@media (min-width: 1280px) {
  .note-ref { cursor: pointer; }
  .note-ref:hover ~ .side {
    display: inline-block;
    position: absolute;
    margin-left: 1em;
		z-index:999;
    padding: .5em;
    box-sizing: content-box;
  }
}
@media (max-width: 1280px) {
  #TOC {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 1em;
    position: initial;
  }
  .side { width: 100%; }
  main .side { padding: 0 2em; color: darkslategray; }
  .side-left, .side-right {
    clear: both;
    margin: 1em auto;
    background: none;
  }
	.side-right p{
		font-size:0.9em;
		line-height:1.8em;
	}
	.side-right img{
		max-width: 60%;
		margin:0 auto;
	}
  .embed-left, .embed-right {
    float: inherit;
    margin: auto;
    padding: 1em;
  }
	main, .menu ul, .footer, .single section, .post-nav {
		max-width: 800px;
		position:relative;
		right:0px;
		margin: 0 auto 0;
	}
	.post-nav{
		padding-top:2em;

	}

  .appendix h3 { text-align: initial; }
}
@media (max-width: 800px) {
  li.optional { display: none; }
  body { padding: initial; }
  main { padding: 0 .5em 0; }
	main, .menu ul, .footer, .single section, .post-nav {
		max-width: 800px;
		position:relative;
		right:0px;
		margin: 0 auto 0;
	}
  .article-list { margin-top: 1.5em; }
  .list main .post-card { flex: inherit; }
  .quote-left, .quote-right { width: inherit; }
  .quote-left, .quote-right {
    float: inherit;
    margin: auto;
  }
  .menu ul, .footer { flex-wrap: wrap; }
  .fullwidth:not(.fullscroll) * { max-width: 100%; }
  .fullwidth {
    margin: initial;
    transform: initial;
    float: none;
    min-width: initial;
    background: none;
    border: none;
  }
  .fullwidth figcaption, .fullwidth .caption {
    margin: initial;
    padding: initial;
  }
  .search input, .search #menu-search a { font-size: 1em; }
}
.mjx-chtml{
  white-space: normal!important;
}
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}
/* dark theme */
/* @media (prefers-color-scheme: dark) {
  body {
    background-color: darkslategray;
    filter: invert(1);
  }
  img { filter: invert(1); }
  .article-list { box-shadow: 0 0 8px #333; }
} */
ul.cloud {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  line-height: 2.75rem;
}

ul.cloud a {
  /*   
  Not supported by any browser at the moment :(
  --size: attr(data-weight number); 
  */
	color:black;
  display: block;
  padding: 0.125rem 0.25rem;
  position: relative;
  text-decoration: none;
  /* 
  For different tones of a single color
  opacity: calc((15 - (9 - var(--size))) / 15); 
  */
}
ul.cloud a{
	font-family:sans-serif;
}
ul.cloud a::after {
  content: " (" attr(data-weight) ")";
  font-size: 0.5rem;
}

ul.cloud a:focus {
  outline: 1px dashed;
}


@media (prefers-reduced-motion) {
  ul.cloud * {
    transition: none !important;
  }
}