<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.5.1/build/styles/github.min.css">
<link href="https://fonts.googlefonts.cn/css?family=Libre+Barcode+39+Extended+Text" rel="stylesheet">
<link href="https://fonts.googlefonts.cn/css?family=Cinzel+Decorative:400,700" rel="stylesheet">
<!-- <link rel="stylesheet" href="https://fonts.font.im/css?family=Noto+Sans+SC:100,300,400,500,700,900">
<link href="https://fonts.font.im/css?family=Noto+Serif+SC:400,400i,700,700i" rel="stylesheet"> -->
<!-- 、<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
<!-- <link href="https://fonts.font.im/css2?family=Noto+Sans+SC:wght@400;700&display=swap" rel="stylesheet" crossorigin> -->
<!-- <link href="http://fonts.cdnfonts.com/css/neo-euler" rel="stylesheet"> -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/pangu@4.0.7/dist/browser/pangu.min.js"></script>
<script>
  // pangu.spacingElementById('main');
  // pangu.spacingElementByClassName('container single');
  pangu.spacingElementByTagName('p');
  document.addEventListener('DOMContentLoaded', () => {
    // listen to any DOM change and automatically perform spacing via MutationObserver()
    pangu.autoSpacingPage();
  });
</script>
{{ template "_internal/twitter_cards.html" . }}